* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: lightgrey;
}
main {
  background-color: #FFEFD5;
}
h2.slide-down {
  background-color: #ffc7af;
}
.carousel-inner {
  height: 300px;
  width: 100%;
}

.carousel img {
  position: absolute;
  width: 100%;
}

@media (min-width: 320px) {
  .carousel,
  .carousel .item,
  .carousel .item-mask,
  .carousel-inner .item .item-mask img {
    height: 200px;
  }
}

@media (min-width: 768px) {
  .carousel,
  .carousel .item,
  .carousel .item-mask,
  .carousel-inner .item .item-mask img {
    height: 400px;
  }
}
