* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: lightgrey;
}
main {
  background-color: #ffefd5;
}
h2.slide-down {
  background-color: #ffc7af;
}
.carousel-inner {
  height: 100%;
  width: 100%;
}

.adress {
  background-color: black;
}

.restaurant img {
  border-radius: 90px;
  width: 180px;
  height: 180px;
}

.carousel img {
  position: absolute;
}

@media (min-width: 320px) {
  .carousel,
  .carousel .item,
  .carousel .item-mask,
  .carousel-inner .item .item-mask img {
    height: 200px;
  }
}
@media (min-width: 768px) {
  .carousel,
  .carousel .item,
  .carousel .item-mask,
  .carousel-inner .item .item-mask img {
    height: 400px;
  }
}
